@page
@model BattingStatsApp.Pages.Battings.BattingModel

@{
    ViewData["Title"] = "Batting";
    int MinPA = Model.CurrentYr switch {
    2020 => 186,
    <= 1961 => 478,
    _ => 503
};


}

@*<partial name="_Criteria" model="Model.CriteriaSet" />
*@
<form method="get">
    <div class="form-actions no-color">
        <p>
            Year:
            <input type="text" name="yr" style="width: 80px;" value="@Model.CurrentYr" />
            <span style="margin-left: 15px;">League:</span>
            <select name="lg" value="@Model.CurrentLg">
                @if (Model.CurrentLg == "Both") {
                    <option value="Both" selected>Both</option>
                    <option value="NL">NL</option>
                    <option value="AL">AL</option>
                }
                @if (Model.CurrentLg == "NL") {
                    <option value="Both">Both</option>
                    <option value="NL" selected>NL</option>
                    <option value="AL">AL</option>
                }
                @if (Model.CurrentLg == "AL") {
                    <option value="Both">Both</option>
                    <option value="NL">NL</option>
                    <option value="AL" selected>AL</option>
                }
            </select>
            <input type="submit" value="Batters" asp-page="/Battings/Batting" 
                   class="btn btn-primary" style="margin-left: 15px;" /> 
            <input type="submit" value="Pitchers" asp-page="/Battings/Pitching" 
                   class="btn btn-primary" style="margin-left: 15px;" /> 
        </p>
    </div>
</form>

<h2>Batters</h2>
<span style="margin-left: 15px;"><em>Italics: Non-qualifier for batting title</em></span>
<p/>

@*This was to experiment with links o/side Form...
*@@*<a class="btn btn-link" 
   asp-page="/Battings/Batting" 
   asp-route-yr="@Model.CurrentYr"
   asp-route-lg = "@Model.CurrentLg" >
   Batters
</a>
<a class="btn btn-link" 
   asp-page="/Battings/Pitching" 
   asp-route-yr="@Model.CurrentYr"
   asp-route-lg = "@Model.CurrentLg" >
   Pitchers
</a>
*@

<div class="col-lg-6 col-md-9 col-sm-10 col-xs-12">
<table class="table table-hover table-sm">
    <thead>
        <tr>
            <th style="width: 38%" >
                @Html.DisplayNameFor(model => model.Batting[0].PlayerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Batting[0].Ab)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Batting[0].R)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Batting[0].H)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Batting[0].Rbi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Batting[0].Hr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Batting[0].Avg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Batting[0].OPS)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
       @foreach (var item in Model.Batting) {
            <tr>
            <td>
                @if (item.Pa < MinPA) { 
                    <em> @Html.DisplayFor(modelItem => @item.PlayerName) </em>
                }   
                else {
                    @Html.DisplayFor(modelItem => @item.PlayerName)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ab)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.R)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.H)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rbi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hr)
            </td>
            <td>
                @if (item.Pa < MinPA) { 
                   <em>@string.Format("{0,6:#.000}",item.Avg)</em>
                }
                else {
                   @string.Format("{0,6:#.000}",item.Avg)
                }
            </td>
            <td>
                @if (item.Pa < MinPA) { 
                   <em>@string.Format("{0,6:#.000}",item.OPS)</em>
                }
                else {
                   @string.Format("{0,6:#.000}",item.OPS)
                }
            </td>
@*            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
*@        </tr>
}
    </tbody>
</table>
</div>
