@page
@model BattingStatsApp.Pages.Battings.PitchingModel
@{
    ViewData["Title"] = "Pitching";
    int MinIP = Model.CurrentYr switch {
        2020 => 60,
        <= 1961 => 154,
        _ => 162
    };
}

<form method="get">
    <div class="form-actions no-color">
        <p>
            Year:
            <input type="text" name="yr" style="width: 80px;" value="@Model.CurrentYr" />
            <span style="margin-left: 15px;">League:</span>
            <select name="lg" value="@Model.CurrentLg">
                @if (Model.CurrentLg == "Both") {
                    <option value="Both" selected>Both</option>
                    <option value="NL">NL</option>
                    <option value="AL">AL</option>
                }
                @if (Model.CurrentLg == "NL") {
                    <option value="Both">Both</option>
                    <option value="NL" selected>NL</option>
                    <option value="AL">AL</option>
                }
                @if (Model.CurrentLg == "AL") {
                    <option value="Both">Both</option>
                    <option value="NL">NL</option>
                    <option value="AL" selected>AL</option>
                }
            </select>
            <input type="submit" value="Batters" asp-page="/Battings/Batting" 
                   class="btn btn-primary" style="margin-left: 15px;" /> 
            <input type="submit" value="Pitchers" asp-page="/Battings/Pitching" 
                   class="btn btn-primary" style="margin-left: 15px;" /> 
        </p>
    </div>
</form>

<h2>Pitchers</h2>
<span style="margin-left: 15px;"><em>Italics: Non-qualifier for ERA title</em></span>
<p/>

@*This was to experiment with links o/side Form...
*@@*<a class="btn btn-link" 
   asp-page="/Battings/Batting" 
   asp-route-yr="@Model.CurrentYr"
   asp-route-lg = "@Model.CurrentLg" >
   Batters
</a>
<a class="btn btn-link" 
   asp-page="/Battings/Pitching" 
   asp-route-yr="@Model.CurrentYr"
   asp-route-lg = "@Model.CurrentLg" >
   Pitchers
</a>
*@

@*<p/>*@
@*G W L Sv IP So Era Whip *@

<div class="col-lg-6 col-md-9 col-sm-10 col-xs-12">
<table class="table table-hover table-sm">
    <thead>
        <tr>
            <th style="width: 38%">
                <a 
                   asp-page="/Battings/Pitching" 
                   asp-route-yr="@Model.CurrentYr"
                   asp-route-lg = "@Model.CurrentLg"
                   asp-route-sort = "Name">
                   @Html.DisplayNameFor(model => model.Pitching[0].PlayerName)
                </a>

            </th>
            <th>
                <a 
                   asp-page="/Battings/Pitching" 
                   asp-route-yr="@Model.CurrentYr"
                   asp-route-lg = "@Model.CurrentLg"
                   asp-route-sort = "G">
                   @Html.DisplayNameFor(model => model.Pitching[0].G)
                </a>
            </th>
            <th>
                <a 
                   asp-page="/Battings/Pitching" 
                   asp-route-yr="@Model.CurrentYr"
                   asp-route-lg = "@Model.CurrentLg"
                   asp-route-sort = "Ip">
                   @Html.DisplayNameFor(model => model.Pitching[0].Ip)
                </a>
            </th>
            <th>
                <a 
                   asp-page="/Battings/Pitching" 
                   asp-route-yr="@Model.CurrentYr"
                   asp-route-lg = "@Model.CurrentLg"
                   asp-route-sort = "W">
                   @Html.DisplayNameFor(model => model.Pitching[0].W)
                </a>
            </th>
            <th>
                <a 
                   asp-page="/Battings/Pitching" 
                   asp-route-yr="@Model.CurrentYr"
                   asp-route-lg = "@Model.CurrentLg"
                   asp-route-sort = "L">
                   @Html.DisplayNameFor(model => model.Pitching[0].L)
                </a>
            </th>
            <th>
                <a 
                   asp-page="/Battings/Pitching" 
                   asp-route-yr="@Model.CurrentYr"
                   asp-route-lg = "@Model.CurrentLg"
                   asp-route-sort = "Sv">
                   @Html.DisplayNameFor(model => model.Pitching[0].Sv)
                </a>
            </th>
            <th>
                <a 
                   asp-page="/Battings/Pitching" 
                   asp-route-yr="@Model.CurrentYr"
                   asp-route-lg = "@Model.CurrentLg"
                   asp-route-sort = "So">
                   @Html.DisplayNameFor(model => model.Pitching[0].So)
                </a>
            </th>
            <th>
                <a 
                   asp-page="/Battings/Pitching" 
                   asp-route-yr="@Model.CurrentYr"
                   asp-route-lg = "@Model.CurrentLg"
                   asp-route-sort = "Whip">
                   @Html.DisplayNameFor(model => model.Pitching[0].Whip)
                </a>
            </th>
            <th>
                <a 
                   asp-page="/Battings/Pitching" 
                   asp-route-yr="@Model.CurrentYr"
                   asp-route-lg = "@Model.CurrentLg"
                   asp-route-sort = "Era">
                   @Html.DisplayNameFor(model => model.Pitching[0].Era)
                </a>
            </th>
            
        </tr>
    </thead>
    <tbody>
       @foreach (var item in Model.Pitching) {
            <tr>
            <td>
                @if (item.Ip < MinIP) { 
                    <em>@Html.DisplayFor(modelItem => @item.PlayerName)</em>
                }   
                else {
                    @Html.DisplayFor(modelItem => @item.PlayerName)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.G)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.W)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.L)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.So)
            </td>
            <td>
                @if (item.Ip < MinIP) {
                   <em>@string.Format("{0,5:#0.00}",item.Whip)</em>
                }
                else {
                   @string.Format("{0,5:#0.00}",item.Whip)
                }
            </td>
            <td>
                @if (item.Ip < MinIP) {
                   <em>@string.Format("{0,5:#0.00}",item.Era)</em>
                }
                else {
                   @string.Format("{0,5:#0.00}",item.Era)
                }
            </td>
@*            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
*@        
            </tr>
       }

    </tbody>
</table>
</div>


