@page
@model BattingStatsApp.Pages.Battings.PitchingModel
@{
    ViewData["Title"] = "Pitching";
}

<form method="get">
    <div class="form-actions no-color">
        <p>
            Year:
            <input type="text" name="yr" value="@Model.CurrentYr" />
            League:
            <select name="lg" value="@Model.CurrentLg">
                @if (Model.CurrentLg == "Both") {
                    <option value="Both" selected>Both</option>
                    <option value="NL">NL</option>
                    <option value="AL">AL</option>
                }
                @if (Model.CurrentLg == "NL") {
                    <option value="Both">Both</option>
                    <option value="NL" selected>NL</option>
                    <option value="AL">AL</option>
                }
                @if (Model.CurrentLg == "AL") {
                    <option value="Both">Both</option>
                    <option value="NL">NL</option>
                    <option value="AL" selected>AL</option>
                }
            </select>
            <input type="submit" value="Batters" asp-page="/Battings/Batting" class="btn btn-primary" /> 
            <input type="submit" value="Pitchers" asp-page="/Battings/Pitching" class="btn btn-primary" /> 
        </p>
    </div>
</form>

<h2>Pitchers</h2>

@*This was to experiment with links o/side Form...
*@@*<a class="btn btn-link" 
   asp-page="/Battings/Batting" 
   asp-route-yr="@Model.CurrentYr"
   asp-route-lg = "@Model.CurrentLg" >
   Batters
</a>
<a class="btn btn-link" 
   asp-page="/Battings/Pitching" 
   asp-route-yr="@Model.CurrentYr"
   asp-route-lg = "@Model.CurrentLg" >
   Pitchers
</a>
*@

<p/>
Nothing here yet...

