@page
@model BattingStatsApp.Pages.Battings.PitchingModel
@{
    ViewData["Title"] = "Pitching";
}

<form method="get">
    <div class="form-actions no-color">
        <p>
            Year:
            <input type="text" name="yr" value="@Model.CurrentYr" />
            League:
            <select name="lg" value="@Model.CurrentLg">
                @if (Model.CurrentLg == "Both") {
                    <option value="Both" selected>Both</option>
                    <option value="NL">NL</option>
                    <option value="AL">AL</option>
                }
                @if (Model.CurrentLg == "NL") {
                    <option value="Both">Both</option>
                    <option value="NL" selected>NL</option>
                    <option value="AL">AL</option>
                }
                @if (Model.CurrentLg == "AL") {
                    <option value="Both">Both</option>
                    <option value="NL">NL</option>
                    <option value="AL" selected>AL</option>
                }
            </select>
            <input type="submit" value="Batters" asp-page="/Battings/Batting" class="btn btn-primary" /> 
            <input type="submit" value="Pitchers" asp-page="/Battings/Pitching" class="btn btn-primary" /> 
        </p>
    </div>
</form>

<h2>Pitchers</h2>

@*This was to experiment with links o/side Form...
*@@*<a class="btn btn-link" 
   asp-page="/Battings/Batting" 
   asp-route-yr="@Model.CurrentYr"
   asp-route-lg = "@Model.CurrentLg" >
   Batters
</a>
<a class="btn btn-link" 
   asp-page="/Battings/Pitching" 
   asp-route-yr="@Model.CurrentYr"
   asp-route-lg = "@Model.CurrentLg" >
   Pitchers
</a>
*@

<p/>
Nothing here yet...

/* G W L Sv IP So Era Whip */

<table class="table table-hover table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pitching[0].PlayerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pitching[0].G)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pitching[0].W)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pitching[0].L)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pitching[0].Sv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pitching[0].Ip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pitching[0].So)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pitching[0].Whip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pitching[0].Era)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Pitching) {
            <tr>
            <td>
                @Html.DisplayFor(modelItem => @item.PlayerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.G)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.W)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.L)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.So)
            </td>
            <td>
                @*@item.Avg.ToString("#.000")*@
                @string.Format("{0,5:#.00}",item.Whip)
            </td>
            <td>
                @*@item.OPS.ToString("#.000")*@
                @string.Format("{0,5:#.00}",item.Era)
            </td>
@*            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
*@        </tr>
}
    </tbody>
</table>


